* {
  padding: 0;
  margin: 0;
}
.App {
  min-width: 720px;
  width: 100vw;
  height: auto;
  background: #0a03;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}
.Header {
  height: auto;
  background: rgb(235, 134, 134);
  background: linear-gradient(
    90deg,
    rgba(235, 134, 134, 1) 12%,
    rgba(46, 0, 255, 1) 50%,
    rgba(232, 115, 115, 1) 90%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -2px 2px #0007;
}
.Header h2 {
  font-size: 1.5rem;
  padding: 20px 0px;
  color: white;
  text-align: center;
}

.GetInput,
.ShowInput {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0%;
}
.GetInput {
  background: orange;
}
.ShowInput {
  background: cyan;
  display: flex;
  flex-direction: column;
}

.container {
  min-width: 500px;
  max-width: 700px;
  width: 50%;
}
.container ul {
  padding: 0;
  margin: 0;
}
.container ul li {
  list-style: none;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px 0px;
  border-radius: 4px;
  box-shadow: 2px 2px 3px #0007, -2px -2px 3px #fff8;
}

/* for submit button  */
.container ul li:last-child {
  box-shadow: none;
}
input[type="text"],
textarea {
  outline: none;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  border-bottom: 5px solid red;
  text-align: center;
  transition: 0.2s;
}
textarea {
  min-height: 100px;
  resize: none;
  overflow: hidden;
  text-align: left;
}

input[type="text"]:hover,
textarea:hover,
input[type="text"]:focus-within,
textarea:focus-within {
  border-bottom: 5px solid green;
}

button {
  outline: none;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  text-align: center;
  transition: 0.2s;
  background: rgb(235, 134, 134);
  background: linear-gradient(
    90deg,
    rgba(235, 134, 134, 1) 30%,
    rgba(46, 0, 255, 1) 70%
  );
  color: white;
  font-size: 1.3rem;
}
button:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px #0006;
}
button:active {
  box-shadow: inset -3px -3px 5px #0006, inset 3px 3px 5px #fff8;
}

.DataCard {
  min-width: 500px;
  max-width: 700px;
  width: 50%;
  min-height: 100px;
  margin: 0 auto 0;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  margin: 0px;
  margin-bottom: 10px;
}
.DataCard kbd {
  display: block;
  padding: 5px;
  background: rgba(166, 98, 255, 0.651);
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.DataCard p {
  padding: 10px 3px;
  text-align: center;
}
